<mat-toolbar style="display: flex;">
  <mat-icon style="margin-right: 8px">class</mat-icon>
  <span>Super Form Infini</span>
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>

<h1>Formulaire qui sert à rien</h1>
<mat-card style="width: 700px; margin: auto; padding: 20px;">
  <form [formGroup]="myForm">

    <mat-form-field style="width: 100%">
        <mat-label>Nom</mat-label>
        <input matInput type="text" placeholder="Nom et prénom" formControlName="name">
        <mat-error *ngIf="myForm.get('name')?.hasError('required')">Le nom est requis.</mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Numéro de rue</mat-label>
      <input matInput type="number" placeholder="5230" formControlName="roadnumber">
      <mat-error *ngIf="myForm.get('roadnumber')?.hasError('required')">Le numéro de rue est requis.</mat-error>
      <mat-error *ngIf="myForm.get('roadnumber')?.hasError('min') || myForm.get('roadnumber')?.hasError('max')">
        Le numéro doit être entre 1000 et 9999.
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
        <mat-label>Rue</mat-label>
        <input matInput type="text" placeholder="Resther" formControlName="rue">
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Code Postal</mat-label>
      <input matInput type="text" placeholder="H2J8B2" formControlName="postalcode">
      <mat-error *ngIf="myForm.get('postalcode')?.hasError('pattern')">
        Le format du code postal est invalide.
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Commentaire</mat-label>
      <textarea matInput placeholder="Votre commentaire" formControlName="comments"></textarea>
      <mat-error *ngIf="myForm.get('comments')?.hasError('minWords')">
        Minimum de 10 mots requis.
      </mat-error>
    </mat-form-field>

    <div *ngIf="myForm.hasError('nameInComment')" style="color: #f44336; font-size: 12px; margin-bottom: 16px; margin-top: -10px; padding: 0 16px;">
      Le commentaire ne doit pas mentionner le nom de l’utilisateur
    </div>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="myForm.invalid">Acheter</button>
    </mat-card-actions>
  </form>
</mat-card>